<div class="as-search-wrapper" role="main">
    <div class="as-navtuck-wrapper">
        <div class="as-l-fullwidth  as-navtuck" data-events="event52">
            <div>
                <div class="pd-billboard pd-category-header">
                    <div class="pd-l-plate-scale">
                        <div class="pd-billboard-background">
                            <img src="{{data}}/assets/music-audio-alp-201709" alt="" width="1440" height="320"
                                data-scale-params-2="wid=2880&amp;hei=640&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1503948581306"
                                class="pd-billboard-hero ir">
                        </div>
                        <div class="pd-billboard-info">
                            <h1 class="pd-billboard-header pd-util-compact-small-18">Tienda e-commerce</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="as-search-results as-filter-open as-category-landing as-desktop" id="as-search-results">
        <div id="accessories-tab" class="as-accessories-details">
            <div class="as-accessories" id="as-accessories">
                <div class="as-accessories-header">
                    <div class="as-search-results-count">
                        <span class="as-search-results-value"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="col-lg-12 text-center">
    <h2>Resultado del pago:</h2>
</div>
<div class="col-lg-6 col-md-offset-3">
    <div class="alert alert-danger">
        <div class="text-center">
            <h1> <i class="fas fa-thumbs-down"></i> Error al procesar su pago</h1>
        </div>
        <br />
        <div class="text-center">
            <h3>
                Lamentamos lo ocurrido.<strong><br /> Su pago no se ha procesado o ha fallado.</strong>
            </h3>
        </div>
        <br />
        <br />
        <div class="text-center">
            <h4>Si cree que esto ha sido un error, prueba volviendo a reintentar su pago</h4>
        </div>
    </div>
</div>
</div>
<div class="col-lg-12">
    <div class="as-accessories-results as-search-desktop">
        <div class="width:60%">
            <div class="as-producttile-tilehero with-paddlenav " style="float:left;">
                <div class="images mini-gallery gal5 ">
                </div>
            </div>
        </div>
    </div>
</div>